
/SEK_Aaw_Star_System/_CommonRedist
/SEK_Aaw_Star_System/Content
/SEK_Aaw_Star_System/DedicatedServer64
/SEK_Aaw_Star_System/depotcache
SEK_Aaw_Star_System/Havok.dll
/SEK_Aaw_Star_System/Instance/content
/SEK_Aaw_Star_System/Instance/GridBackups
/SEK_Aaw_Star_System/Instance/Saves/SEK_Aaw_Star_System/Backup
/SEK_Aaw_Star_System/Instance/Saves/Star System \[PC\]/Backup
*.log
/SEK_Aaw_Star_System/Logs
/SEK_Aaw_Star_System/steamcmd
/SEK_Aaw_Star_System/userdata
/SEK_Star_System/Content
/SEK_Star_System/depotcache
/SEK_Star_System/Instance/content
/SEK_Star_System/Instance/GridBackups
SEK_Star_System/Instance/players.json
*.vx2
/SEK_Star_System/userdata
/torch-shared
*.dll
/SEK_Star_System/steamcmd
/SEK_Star_System/Logs
/SEK_Star_System/Plugins
/SEK_Star_System/Instance/Saves/Star_System/Backup
/SEK_Star_System/Instance/PerformanceImprovements/Cache
SEK_Aaw_Star_System/Wormhole.cfg
/SEK_Aaw_Star_System/Instance/PerformanceImprovements/Cache
SEK_Aaw_Star_System/Instance/SEDiscordBridge.cfg
SEK_Aaw_Star_System/Instance/SEDiscordBridge.cfg
/SEK_Aaw_Star_System/Plugins
/SEK_Star_System/DedicatedServer64
/SEK_Star_System/_CommonRedist
*.vdf
*.acf
SEK_Star_System/Instance/Storage/657749341.sbm_AutoOreCollect/Config_PSO2.cfg
*.mes
*.ini
*.json
*.txt
*.pdb
SEK_Aaw_Star_System/Instance/SEDiscordBridge.cfg
/SEK_Aaw_Star_System/Instance/QuantumHangar/PlayerHangars
*.exe
SEK_Star_System/Torch.xml
SEK_Star_System/Torch.Server.xml
SEK_Star_System/Torch.API.xml
SEK_Star_System/SteamKit2.xml
SEK_Star_System/NLog.xml
SEK_Star_System/protobuf-net.xml
SEK_Star_System/NLog.config
SEK_Star_System/NLog-user.config
SEK_Star_System/Newtonsoft.Json.xml
SEK_Star_System/MahApps.Metro.xml
SEK_Star_System/Instance/Wormhole.cfg
SEK_Star_System/Instance/Storage/SleepConfig.cfg
SEK_Star_System/Instance/Storage/DefenseShields.cfg
SEK_Star_System/Instance/Storage/DefenseShieldsClient.cfg
SEK_Star_System/Instance/Saves/Star_System/Storage/2391318591.sbm_Grrrrr/players
SEK_Star_System/Instance/Saves/LastSession.sbl
SEK_Star_System/Instance/SEDiscordBridge.cfg
SEK_Star_System/TempContent/ProfileOptimization/Startup.profile
SEK_Star_System/Instance/Saves/Star_System/SANDBOX_0_0_0_.sbsB5
SEK_Star_System/Instance/Saves/Star_System/SANDBOX_0_0_0_.sbs
SEK_Aaw_Star_System/Instance/Saves/Star System \[PC\]/SANDBOX_0_0_0_.sbsB5
SEK_Aaw_Star_System/Instance/Saves/Star System \[PC\]/SANDBOX_0_0_0_.sbs
SEK_Aaw_Star_System/Instance/Saves/Star System \[PC\]/SANDBOX_0_0_0_.sbsB5
SEK_Aaw_Star_System/Instance/SEDiscordBridge.cfg
SEK_Aaw_Star_System/Instance/Wormhole.cfg
SEK_Star_System/Instance/Saves/Star_System/Sandbox.sbc
SEK_Star_System/Instance/Saves/Star_System/Sandbox_config.sbc
SEK_Star_System/Instance/Wormhole.cfg
SEK_Star_System/Instance/Wormhole.cfg
/Server_Base/Content
/Server_Base/Instance/content
/Server_Base/Instance/GridBackups
/Server_Base/Instance/PerformanceImprovements
Server_Base/Instance/Saves/SEK_Aaw_Star_System/Backup/2024-09-20 181312/SANDBOX_0_0_0_.sbsB5
Server_Base/Instance/Saves/SEK_Aaw_Star_System/Backup/2024-09-20 181312/SANDBOX_0_0_0_.sbs
Server_Base/Instance/Saves/SEK_Aaw_Star_System/Backup/2024-09-20 175812/SANDBOX_0_0_0_.sbsB5
Server_Base/Instance/Saves/SEK_Aaw_Star_System/Backup/2024-09-20 175812/SANDBOX_0_0_0_.sbs
/Server_Base/Instance/Saves/Star System \[PC\]/Backup
/Server_Base/Instance/Saves/Star System \[PC\]/Storage
/Server_Base/Plugins
/Server_Base/steamcmd/siteserverui
/Server_Base/userdata
/Server_Base/steamcmd
/Server_Base/DedicatedServer64
/Server_Base/_CommonRedist
Server_Base/Instance/Saves/SEK_Aaw_Star_System/Backup/2024-09-20 135743/SANDBOX_0_0_0_.sbs
Server_Base/Instance/Saves/SEK_Aaw_Star_System/Backup/2024-09-20 135743/SANDBOX_0_0_0_.sbsB5
/Server_Base/Instance/Saves/SEK_Aaw_Star_System/Backup
Server_Base/Instance/Saves/Star System \[PC\]/SANDBOX_0_0_0_.sbs
Server_Base/Instance/Saves/Star System \[PC\]/SANDBOX_0_0_0_.sbsB5
Server_Base/Torch.xml
Server_Base/Torch.Server.xml
Server_Base/Torch.API.xml
/Server_Base/TempContent
Server_Base/Instance/Saves/SEK_Aaw_Star_System/thumb.jpg
Server_Base/Instance/Saves/Star System \[PC\]/thumb.jpg
Server_Base/MahApps.Metro.xml
Server_Base/Instance/Saves/LastSession.sbl
SEK_Aaw_Star_System/Instance/Saves/Star System \[PC\]/Storage/2238536108.sbm_HeadHunter/HeadhunterConfig.xml
SEK_Aaw_Star_System/Instance/Saves/Star System \[PC\]/Storage/2238536108.sbm_HeadHunter/HeadhunterConfig.xml
SEK_Star_System/Instance/Saves/Star_System/Storage/2238536108.sbm_HeadHunter/HeadhunterConfig.xml
